.form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-input {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .form-file-input {
    margin-bottom: 10px;
  }
  
  .form-button {
    padding: 5px;
    background-color: grey;
    color: #fff;
    border: none;
  }
  